**Objective**
<br>Parse job bulletin text files and create output dataframe with the structure mentioned in "Sample job class export template.csv"

<br>**Columns Added** 
>        'FILE_NAME', 'JOB_CLASS_TITLE', 'JOB_CLASS_NO', 'REQUIREMENT_SET_ID', 
       'REQUIREMENT_SUBSET_ID', 'ENTRY_SALARY_GEN', 'ENTRY_SALARY_DWP', 'OPEN_DATE',
       'SCHOOL_TYPE','EDUCATION_MAJOR', 'JOB_DUTIES_1', 'JOB_DUTIES_2', 'EXAM_TYPE'

<br><br>**Columns Left**
>      'EDUCATION_YEARS', 'EXPERIENCE_LENGTH', 'FULL_TIME_PART_TIME',
       'EXP_JOB_CLASS_TITLE', 'EXP_JOB_CLASS_ALT_RESP',
       'EXP_JOB_CLASS_FUNCTION', 'COURSE_COUNT', 'COURSE_LENGTH',
       'COURSE_SUBJECT', 'MISC_COURSE_DETAILS', 'DRIVERS_LICENSE_REQ',
       'DRIV_LIC_TYPE', 'ADDTL_LIC','Benefits'

In [1]:
import os
import pandas as pd,numpy as np
import re
import spacy
from spacy import displacy
from collections import Counter
import en_core_web_sm
nlp = en_core_web_sm.load()
from collections import Counter
import pprint
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [2]:
bulletin_dir = '../input/cityofla/CityofLA/Job Bulletins/'
additional_data_dir = '../input/cityofla/CityofLA/Additional data/'

Assumption after looking at the data in text files: Headings are written in upper case letters.
<br>I've used this assumption to parse the text

In [3]:
headings = {}
m=0
for filename in os.listdir(bulletin_dir):
    with open(bulletin_dir + "/" + filename, 'r', errors='ignore') as f:
        for line in f.readlines():
            line = line.replace("\n","").replace("\t","").replace(":","").strip()
#             m+=1
#             if m==8:
#                 break
            if line.isupper():
                if line not in headings.keys():
                    headings[line] = 1
                else:
                    count = int(headings[line])
                    headings[line] = count+1
#     break

In [4]:
del headings['$103,606 TO $151,484'] #This is not a heading, it's an Annual Salary component
headingsFrame = []
for i,j in (sorted(headings.items(), key = lambda kv:(kv[1], kv[0]), reverse = True)):
    headingsFrame.append([i,j])
headingsFrame = pd.DataFrame(headingsFrame)
headingsFrame.columns = ["Heading","Count"]
#headingsFrame.head()

In [5]:
#Add 'FILE_NAME', 'JOB_CLASS_TITLE', 'JOB_CLASS_NO' ,'OPEN_DATE'
data_list = []
for filename in os.listdir(bulletin_dir):
    with open(bulletin_dir + "/" + filename, 'r', errors='ignore') as f:
        job_class_title = ''
        for line in f.readlines():
            #Insert code to parse job bulletins
            if "Open Date:" in line:
                job_bulletin_date = line.split("Open Date:")[1].split("(")[0].strip()
            if "Class Code:" in line:
                job_class_no = line.split("Class Code:")[1].strip()
            if len(job_class_title)<2 and len(line.strip())>1:
                job_class_title = line.strip()
        data_list.append([filename, job_bulletin_date, job_class_title, job_class_no])

In [6]:
df = pd.DataFrame(data_list)
df.columns = ["FILE_NAME", "OPEN_DATE", "JOB_CLASS_TITLE", "JOB_CLASS_NO"]
df.head()

                                           FILE_NAME     ...      JOB_CLASS_NO
0       WATER SERVICE REPRESENTATIVE 1693 111717.txt     ...              1693
1  HARBOR PLANNING AND ECONOMIC ANALYST 9224 1118...     ...              9224
2  MANAGING WATER UTILITY ENGINEER 9406 032417 RE...     ...              9406
3   VETERINARY TECHNICIAN 2369 020599 REV 120417.txt     ...              2369
4  SENIOR UTILITY SERVICES SPECIALIST 3573 113018...     ...              3753

[5 rows x 4 columns]

In [7]:
#Add 'REQUIREMENT_SET_ID','REQUIREMENT_SUBSET_ID'
requirements = []
requirementHeadings = [k for k in headingsFrame['Heading'].values if 'requirement' in k.lower()]
for filename in os.listdir(bulletin_dir):
    with open(bulletin_dir + "/" + filename, 'r', errors='ignore') as f:
        readNext = 0
        isNumber=0
        prevNumber=0
        prevLine=''
        
        for line in f.readlines():
            clean_line = line.replace("\n","").replace("\t","").replace(":","").strip()   
            if readNext == 0:                         
                if clean_line in requirementHeadings:
                    readNext = 1
            elif readNext == 1:
                if clean_line in headingsFrame['Heading'].values:
                    if isNumber>0:
                        requirements.append([filename,prevNumber,'',prevLine])
                    break
                elif len(clean_line)<2:
                    continue
                else:
                    rqrmntText = clean_line.split('.')
                    if len(rqrmntText)<2:
                        requirements.append([filename,'','',clean_line])
                    else:                        
                        if rqrmntText[0].isdigit():
                            if isNumber>0:
                                requirements.append([filename,prevNumber,'',prevLine])
                            isNumber=1
                            prevNumber=rqrmntText[0]
                            prevLine=clean_line
                        elif re.match('^[a-z]$',rqrmntText[0]):
                            requirements.append([filename,prevNumber,rqrmntText[0],prevLine+'-'+clean_line])
                            isNumber=0
                        else:
                            requirements.append([filename,'','',clean_line])

In [8]:
df_requirements = pd.DataFrame(requirements)
df_requirements.columns = ['FILE_NAME','REQUIREMENT_SET_ID','REQUIREMENT_SUBSET_ID','REQUIREMENT_TEXT']
df_requirements.head()

                                           FILE_NAME                        ...                                                           REQUIREMENT_TEXT
0       WATER SERVICE REPRESENTATIVE 1693 111717.txt                        ...                          Three years of full-time paid experience in a ...
1       WATER SERVICE REPRESENTATIVE 1693 111717.txt                        ...                          Education from an accredited college or univer...
2  HARBOR PLANNING AND ECONOMIC ANALYST 9224 1118...                        ...                          1. Graduation from an accredited four-year col...
3  HARBOR PLANNING AND ECONOMIC ANALYST 9224 1118...                        ...                          2. Two years of full-time paid professional ex...
4  MANAGING WATER UTILITY ENGINEER 9406 032417 RE...                        ...                          1. Two years of full-time paid experience at t...

[5 rows x 4 columns]

In [9]:
#Check for one sample file 
df_requirements.loc[df_requirements['FILE_NAME']=='SYSTEMS ANALYST 1596 102717.txt']

                            FILE_NAME                        ...                                                           REQUIREMENT_TEXT
1117  SYSTEMS ANALYST 1596 102717.txt                        ...                          1. Graduation from an accredited four-year col...
1118  SYSTEMS ANALYST 1596 102717.txt                        ...                          2. Graduation from an accredited four-year col...
1119  SYSTEMS ANALYST 1596 102717.txt                        ...                          2. Graduation from an accredited four-year col...
1120  SYSTEMS ANALYST 1596 102717.txt                        ...                          2. Graduation from an accredited four-year col...
1121  SYSTEMS ANALYST 1596 102717.txt                        ...                          3. Two years of full-time paid experience as a...
1122  SYSTEMS ANALYST 1596 102717.txt                        ...                          3. Two years of full-time paid experience as a...

[6 rows x 4 columns]

In [10]:
#Check for salary components
salHeadings = [k for k in headingsFrame['Heading'].values if 'salary' in k.lower()]
sal_list = []
for filename in os.listdir(bulletin_dir):
    with open(bulletin_dir + "/" + filename, 'r', errors='ignore') as f:
        readNext = 0
        for line in f.readlines():
            clean_line = line.replace("\n","").replace("\t","").replace(":","").strip()  
            if clean_line in salHeadings:
                readNext = 1
            elif readNext == 1:
                if clean_line in headingsFrame['Heading'].values:
                    break
                elif len(clean_line)<2:
                    continue
                else:
                    sal_list.append([filename, clean_line])

In [11]:
df_salary = pd.DataFrame(sal_list)
df_salary.columns = ['FILE_NAME','SALARY_TEXT']
df_salary['SALARY_TEXT'][6]

'$117,199 to $145,596'

In [12]:
files = []
for filename in os.listdir(bulletin_dir):
    files.append(filename)

# ENTRY_SALARY_GEN ENTRY_SALARY_DWP

In [13]:
#Add 'ENTRY_SALARY_GEN','ENTRY_SALARY_DWP'
pattern = r'\$?([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(.[0-9][0-9])?'
dwp_salary_list = {}
gen_salary_list = {}
for filename in files:
    for sal_text in df_salary.loc[df_salary['FILE_NAME']==filename]['SALARY_TEXT']:
        if 'department of water' in sal_text.lower():
            if filename in dwp_salary_list.keys():
                continue
            matches = re.findall(pattern+' to '+pattern, sal_text) 
            if len(matches)>0:
                salary_dwp = ' - '.join([x for x in matches[0] if x and not x.endswith(',')])
            else:
                matches = re.findall(pattern, sal_text)
                if len(matches)>0:
                    salary_dwp = matches[0][0]
                else:
                    salary_dwp = ''
            dwp_salary_list[filename]= salary_dwp
        else:
            if filename in gen_salary_list.keys():
                continue
            matches = re.findall(pattern+' to '+pattern, sal_text)
            if len(matches)>0:
                salary_gen = ' - '.join([x for x in matches[0] if x and not x.endswith(',')])
            else:
                matches = re.findall(pattern, sal_text)
                if len(matches)>0:
                    salary_gen = matches[0][0]
                else:
                    salary_gen = ''
            if len(salary_gen)>1:
                gen_salary_list[filename]= salary_gen

In [14]:
df_salary_dwp = pd.DataFrame(list(dwp_salary_list.items()), columns=['FILE_NAME','ENTRY_SALARY_DWP'])
df_salary_gen = pd.DataFrame(list(gen_salary_list.items()), columns=['FILE_NAME','ENTRY_SALARY_GEN'])

In [15]:
result = pd.merge(df, df_requirements, how='inner', left_on='FILE_NAME', right_on='FILE_NAME', sort=True)

result = pd.merge(result, df_salary_dwp, how='left', left_on='FILE_NAME', right_on='FILE_NAME', sort=True)

result = pd.merge(result, df_salary_gen, how='left', left_on='FILE_NAME', right_on='FILE_NAME', sort=True)

# ADD JOB_DUTIES_1 AND JOB_DUTIES_2

In [16]:
#ADD JOB_DUTIES_1 AND JOB_DUTIES_2
duties = {}
name2=[]
d1=[]
d2=[]
m=0
for filename in os.listdir(bulletin_dir):
    with open(bulletin_dir + "/" + filename, 'r', errors='ignore') as f:
        for line in f.readlines():
            line = line.replace("\n","").replace("\t","").replace(":","").strip()
            if 'DUTIES' in line:
                m=1
    #             print(line)
            if line.isupper() and line!='DUTIES':
                m=0
    #             print(line)
            if m==1 and line!='DUTIES' and line!='':
                
                if filename not in duties:
                    duties[filename]=line
                else:
                    d3=[duties[filename],line]
                    duties[filename]=d3
                    
for i in duties:
    name2.append(i)
    if len(duties[i])==2:
        d1.append(duties[i][0])
        d2.append(duties[i][1])
    else:
        d1.append(duties[i])
        d2.append(None)

df_duties = pd.DataFrame({'FILE_NAME': name2,'JOB_DUTIES_1': d1,'JOB_DUTIES_2': d2})
result = pd.merge(result, df_duties, how='left', left_on='FILE_NAME', right_on='FILE_NAME', sort=True)


#WITHOUT DUTIES

# APPARATUS OPERATOR 2121 071417 (1).txt
# ENGINEER OF FIRE DEPARTMENT 2131 111116.txt
# FIRE ASSISTANT CHIEF 2166 011218.txt
# FIRE BATTALION CHIEF 2152 030918.txt
# FIRE HELICOPTER PILOT 3563 081415 REV. 081815.txt
# FIRE INSPECTOR 2128 031717.txt
# Vocational Worker  DEPARTMENT OF PUBLIC WORKS.txt

# ADD the EXAM_type

In [17]:
### ADD the EXAM_type
exam_type = []
name1=[]
m=0
EXAM_TYPE=[]
for filename in os.listdir(bulletin_dir):
    with open(bulletin_dir + "/" + filename, 'r', errors='ignore') as f:
        for line in f.readlines():
            line = line.replace("\n","").replace("\t","").replace(":","").strip()
            if 'THIS EXAM' in line:
                m=1
    #             print(line)
            if 'discriminate' in line:
                m=0
    #             print(line)
            if m==1 and line!='' and not('THIS' in line):
                name1.append(filename)
                exam_type.append(line)
#                 print(filename,line)

for i in exam_type:
    if ('OPEN' in i) and ('INTER' in i):
        EXAM_TYPE.append('OPEN_INT_PROM')
    elif ('OPEN' in i) and ('PROMO' in i):
        EXAM_TYPE.append('OPEN_DEPT_PROM')
    elif 'OPEN' in i:
        EXAM_TYPE.append('OPEN')
    elif 'INTER' in i:
        EXAM_TYPE.append('INT_DEPT_PROM')
    else:
        EXAM_TYPE.append('DEPT_PROM')
            
df_exam_type = pd.DataFrame({'FILE_NAME': name1,'EXAM_TYPE': EXAM_TYPE})
result = pd.merge(result, df_exam_type, how='left', left_on='FILE_NAME', right_on='FILE_NAME', sort=True)


#WITHOUT EXAMINATION

# PILE DRIVER WORKER 3553 041417.txt
# Vocational Worker  DEPARTMENT OF PUBLIC WORKS.txt

In [18]:
#result.drop(columns=['REQUIREMENT_TEXT'], inplace=True)
result
# result.to_csv('result_table.csv',index=False)

                                              FILE_NAME      ...            EXAM_TYPE
0                         311 DIRECTOR  9206 041814.txt      ...        OPEN_INT_PROM
1                         311 DIRECTOR  9206 041814.txt      ...        OPEN_INT_PROM
2                         311 DIRECTOR  9206 041814.txt      ...        OPEN_INT_PROM
3                            ACCOUNTANT 1513 062218.txt      ...                 OPEN
4                      ACCOUNTING CLERK 1223 071318.txt      ...        OPEN_INT_PROM
5                      ACCOUNTING CLERK 1223 071318.txt      ...        OPEN_INT_PROM
6         ACCOUNTING RECORDS SUPERVISOR 1119 072718.txt      ...        INT_DEPT_PROM
7                ADMINISTRATIVE ANALYST 1590 060118.txt      ...        INT_DEPT_PROM
8                ADMINISTRATIVE ANALYST 1590 060118.txt      ...        INT_DEPT_PROM
9                ADMINISTRATIVE ANALYST 1590 060118.txt      ...        INT_DEPT_PROM
10               ADMINISTRATIVE ANALYST 1590 060118.txt      ...        INT_DEPT_PROM
11             ADMINISTRATIVE CLERK 1358 033018 (2).txt      ...                 OPEN
12      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt      ...        OPEN_INT_PROM
13      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt      ...        OPEN_INT_PROM
14      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt      ...        OPEN_INT_PROM
15      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt      ...        OPEN_INT_PROM
16    ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE 23...      ...                 OPEN
17    ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE 23...      ...                 OPEN
18    ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE 23...      ...                 OPEN
19            AIR CONDITIONING MECHANIC 3774 041417.txt      ...        OPEN_INT_PROM
20            AIR CONDITIONING MECHANIC 3774 041417.txt      ...        OPEN_INT_PROM
21            AIR CONDITIONING MECHANIC 3774 041417.txt      ...        OPEN_INT_PROM
22    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...      ...        INT_DEPT_PROM
23    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...      ...        INT_DEPT_PROM
24    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...      ...        INT_DEPT_PROM
25    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...      ...        INT_DEPT_PROM
26    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...      ...        INT_DEPT_PROM
27    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...      ...        INT_DEPT_PROM
28                         AIRPORT AIDE 1540 081018.txt      ...        INT_DEPT_PROM
29    AIRPORT CHIEF INFORMATION SECURITY OFFICER 140...      ...        OPEN_INT_PROM
...                                                 ...      ...                  ...
1535  WATERSHED RESOURCES SPECIALIST  7862 080516 (1...      ...        OPEN_INT_PROM
1536  WATERSHED RESOURCES SPECIALIST  7862 080516 (1...      ...        OPEN_INT_PROM
1537            WATERWORKS ENGINEER 7248 071516 (1).txt      ...        INT_DEPT_PROM
1538            WATERWORKS ENGINEER 7248 071516 (1).txt      ...        INT_DEPT_PROM
1539  WATERWORKS MECHANIC SUPERVISOR 3987 051614 (1)...      ...        INT_DEPT_PROM
1540                             WELDER 3796 102816.txt      ...        OPEN_INT_PROM
1541                             WELDER 3796 102816.txt      ...        OPEN_INT_PROM
1542                             WELDER 3796 102816.txt      ...        OPEN_INT_PROM
1543                  WELDER SUPERVISOR 3798 120817.txt      ...        INT_DEPT_PROM
1544                         WHARFINGER 1190 092118.txt      ...        OPEN_INT_PROM
1545                         WHARFINGER 1190 092118.txt      ...        OPEN_INT_PROM
1546                         WHARFINGER 1190 092118.txt      ...        OPEN_INT_PROM
1547                     WINDOW CLEANER 3173 032417.txt      ...        INT_DEPT_PROM
1548                     WINDOW CLEANER 3173 032417.txt      ...        INT_DEPT_PROM
1549     WORKERS_ COMPENSATION ANALYST 1774 032417R.txt      ...        OPEN_INT_PROM
1550     WORKERS_ COMPENSATION ANALYST 1774 032417R.txt      ...        OPEN_INT_PROM
1551  WORKERS_ COMPENSATION CLAIMS ASSISTANT 1775 04...      ...        INT_DEPT_PROM
1552    X-RAY AND LABORATORY TECHNICIAN 2358 012916.txt      ...                 OPEN
1553    X-RAY AND LABORATORY TECHNICIAN 2358 012916.txt      ...                 OPEN
1554    X-RAY AND LABORATORY TECHNICIAN 2358 012916.txt      ...                 OPEN
1555                        ZOO CURATOR 4297 040816.txt      ...        OPEN_INT_PROM
1556                        ZOO CURATOR 4297 040816.txt      ...        OPEN_INT_PROM
1557                        ZOO CURATOR 4297 040816.txt      ...        OPEN_INT_PROM
1558                        ZOO CURATOR 4297 040816.txt      ...        OPEN_INT_PROM
1559                        ZOO CURATOR 4297 040816.txt      ...        OPEN_INT_PROM
1560           ZOO CURATOR OF EDUCATION 4300 091418.txt      ...        OPEN_INT_PROM
1561           ZOO CURATOR OF EDUCATION 4300 091418.txt      ...        OPEN_INT_PROM
1562                      ZOO REGISTRAR 4290 070618.txt      ...        OPEN_INT_PROM
1563                      ZOO REGISTRAR 4290 070618.txt      ...        OPEN_INT_PROM
1564                      ZOO REGISTRAR 4290 070618.txt      ...        OPEN_INT_PROM

[1565 rows x 12 columns]

# School Type

In [19]:
def getSchoolType(txt):
    txt1=''
    line = txt.lower().find('college or university')
    if line==-1: 
#         return ''
        txt1+=''
    else:
        txt1+= 'college or university '
    line1 = txt.lower().find('high school')
    if line1==-1:
        txt1+= ''
    else:
        txt1+='HIGH SCHOOL'
    
    line2 = txt.lower().find('apprenticeship')
    if line2==-1:
        txt1+= ''
    else:
        txt1+='apprenticeship'

    return txt1

result['SCHOOL_TYPE'] = result['REQUIREMENT_TEXT'].apply(lambda x: getSchoolType(x))
result

                                              FILE_NAME           ...                       SCHOOL_TYPE
0                         311 DIRECTOR  9206 041814.txt           ...
1                         311 DIRECTOR  9206 041814.txt           ...            college or university
2                         311 DIRECTOR  9206 041814.txt           ...
3                            ACCOUNTANT 1513 062218.txt           ...            college or university
4                      ACCOUNTING CLERK 1223 071318.txt           ...
5                      ACCOUNTING CLERK 1223 071318.txt           ...            college or university
6         ACCOUNTING RECORDS SUPERVISOR 1119 072718.txt           ...
7                ADMINISTRATIVE ANALYST 1590 060118.txt           ...
8                ADMINISTRATIVE ANALYST 1590 060118.txt           ...
9                ADMINISTRATIVE ANALYST 1590 060118.txt           ...            college or university
10               ADMINISTRATIVE ANALYST 1590 060118.txt           ...
11             ADMINISTRATIVE CLERK 1358 033018 (2).txt           ...
12      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt           ...
13      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt           ...
14      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt           ...
15      ADMINISTRATIVE HEARING EXAMINER 9135 100915.txt           ...
16    ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE 23...           ...
17    ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE 23...           ...
18    ADVANCE PRACTICE PROVIDER CORRECTIONAL CARE 23...           ...
19            AIR CONDITIONING MECHANIC 3774 041417.txt           ...                    apprenticeship
20            AIR CONDITIONING MECHANIC 3774 041417.txt           ...
21            AIR CONDITIONING MECHANIC 3774 041417.txt           ...
22    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...           ...
23    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...           ...
24    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...           ...
25    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...           ...
26    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...           ...
27    AIR CONDITIONING MECHANIC SUPERVISOR 3781 1116...           ...
28                         AIRPORT AIDE 1540 081018.txt           ...
29    AIRPORT CHIEF INFORMATION SECURITY OFFICER 140...           ...            college or university
...                                                 ...           ...                               ...
1535  WATERSHED RESOURCES SPECIALIST  7862 080516 (1...           ...            college or university
1536  WATERSHED RESOURCES SPECIALIST  7862 080516 (1...           ...
1537            WATERWORKS ENGINEER 7248 071516 (1).txt           ...
1538            WATERWORKS ENGINEER 7248 071516 (1).txt           ...
1539  WATERWORKS MECHANIC SUPERVISOR 3987 051614 (1)...           ...
1540                             WELDER 3796 102816.txt           ...                    apprenticeship
1541                             WELDER 3796 102816.txt           ...
1542                             WELDER 3796 102816.txt           ...
1543                  WELDER SUPERVISOR 3798 120817.txt           ...
1544                         WHARFINGER 1190 092118.txt           ...
1545                         WHARFINGER 1190 092118.txt           ...            college or university
1546                         WHARFINGER 1190 092118.txt           ...
1547                     WINDOW CLEANER 3173 032417.txt           ...
1548                     WINDOW CLEANER 3173 032417.txt           ...
1549     WORKERS_ COMPENSATION ANALYST 1774 032417R.txt           ...
1550     WORKERS_ COMPENSATION ANALYST 1774 032417R.txt           ...
1551  WORKERS_ COMPENSATION CLAIMS ASSISTANT 1775 04...           ...
1552    X-RAY AND LABORATORY TECHNICIAN 2358 012916.txt           ...
1553    X-RAY AND LABORATORY TECHNICIAN 2358 012916.txt           ...
1554    X-RAY AND LABORATORY TECHNICIAN 2358 012916.txt           ...
1555                        ZOO CURATOR 4297 040816.txt           ...            college or university
1556                        ZOO CURATOR 4297 040816.txt           ...
1557                        ZOO CURATOR 4297 040816.txt           ...
1558                        ZOO CURATOR 4297 040816.txt           ...
1559                        ZOO CURATOR 4297 040816.txt           ...
1560           ZOO CURATOR OF EDUCATION 4300 091418.txt           ...            college or university
1561           ZOO CURATOR OF EDUCATION 4300 091418.txt           ...
1562                      ZOO REGISTRAR 4290 070618.txt           ...            college or university
1563                      ZOO REGISTRAR 4290 070618.txt           ...
1564                      ZOO REGISTRAR 4290 070618.txt           ...

[1565 rows x 13 columns]

In [20]:
df1=result[result['SCHOOL_TYPE']=='apprenticeship'].drop(columns=['OPEN_DATE', 'JOB_CLASS_TITLE', 'JOB_CLASS_NO','ENTRY_SALARY_DWP', 'ENTRY_SALARY_GEN', 'JOB_DUTIES_1', 'JOB_DUTIES_2','EXAM_TYPE','SCHOOL_TYPE'])
df1

                                              FILE_NAME                        ...                                                           REQUIREMENT_TEXT
19            AIR CONDITIONING MECHANIC 3774 041417.txt                        ...                          1. Completion of a recognized apprenticeship a...
125                     ASBESTOS WORKER 3435 100518.txt                        ...                          1. Completion of a recognized apprenticeship a...
174   AUTO BODY BUILDER AND REPAIRER 3704 101317 rev...                        ...                          1. Completion of a recognized four-year appren...
178                    AUTO ELECTRICIAN 3707 052215.txt                        ...                          1. Completion of a recognized apprenticeship a...
181                        AUTO PAINTER 3721 022417.txt                        ...                          1. Completion of a recognized apprenticeship a...
196               BLACKSMITH 3733 082517 REV 090717.txt                        ...                          1. Completion of an apprenticeship as a blacks...
199                         BOILERMAKER 3735 110714.txt                        ...                          1.  Completion of a recognized apprenticeship ...
209                  BUILDING INSPECTOR 4211 101918.txt                        ...                          3. Two years of full-time paid experience in c...
218   BUILDING MECHANICAL INSPECTOR 4251 082815 REV ...                        ...                          3. Two years of full-time paid experience in c...
232                           CARPENTER 3344 011218.txt                        ...                          1. Completion of an apprenticeship as a carpen...
236                        CARPET LAYER 3418 061915.txt                        ...                          1. Completion of a recognized three year appre...
240                     CEMENT FINISHER 3353 030918.txt                        ...                          2. Completion of a recognized apprenticeship a...
372              CONSTRUCTION INSPECTOR 7291 042117.txt                        ...                          8. Completion of a recognized four-year appren...
456      ELECTRIC DISTRIBUTION MECHANIC 3879 040717.txt                        ...                          1 Completion of an apprenticeship program sanc...
489                ELECTRICAL INSPECTOR 4221 030218.txt                        ...                          2. Successful completion of a State of Califor...
517                         ELECTRICIAN 3863 101317.txt                        ...                          1. Completion of a recognized apprenticeship a...
573                  EQUIPMENT MECHANIC 3711 051818.txt                        ...                          1. Completion of a recognized apprenticeship a...
688       HEAVY DUTY EQUIPMENT MECHANIC 3743 021717.txt                        ...                          1. Completion of a recognized apprenticeship a...
704        HOUSING INSPECTOR 4243 070618 REV 010819.txt                        ...                          2. Two years of full-time paid experience in c...
771                           LOCKSMITH 3393 113018.txt                        ...                          1. Completion of a recognized apprenticeship a...
773                           MACHINIST 3763 061016.txt                        ...                          1. Completion of a recognized apprenticeship a...
803                      MASONRY WORKER 3451 011918.txt                        ...                          1. Completion of an apprenticeship as a brickl...
843                             PAINTER 3423 092118.txt                        ...                          1. Completion of a recognized apprenticeship a...
886                  PILE DRIVER WORKER 3553 041417.txt                        ...                          Completion of a recognized four-year apprentic...
887                          PIPEFITTER 3433 080318.txt                        ...                          1. Completion of a recognized apprenticeship a...
893                             PLUMBER 3443 113018.txt                        ...                          1. Completion of a recognized five-year appren...
900       PLUMBING INSPECTOR 4231 042817 REV 051117.txt                        ...                          2. Successful completion of a recognized plumb...
944            PORT ELECTRICAL MECHANIC 3758 022616.txt                        ...                          1.Completion of a recognized apprenticeship or...
1022            PRINTING PRESS OPERATOR 1494 092515.txt                        ...                          1. Completion of a recognized four-year appren...
1118                             ROOFER 3476 121214.txt                        ...                          1. Completion of a recognized apprenticeship a...
1313                 SHEET METAL WORKER 3775 093016.txt                        ...                          1. Completion of a recognized apprenticeship a...
1317                     SHIP CARPENTER 3348 093016.txt                        ...                          1. Completion of a recognized apprenticeship a...
1320                       SIGN PAINTER 3428 121214.txt                        ...                          1. Completion of a recognized apprenticeship a...
1323         SIGNAL SYSTEMS ELECTRICIAN 3819 042018.txt                        ...                          1. Completion of a recognized apprenticeship a...
1419                        TILE SETTER 3493 090415.txt                        ...                          1. Completion of a recognized apprenticeship a...
1421                  TIRE REPAIRER 3727 091517 (1).txt                        ...                          1. Completion of a recognized apprenticeship a...
1492  WASTEWATER TREATMENT ELECTRICIAN 5615 060812 R...                        ...                          1. Completion of a recognized five-year electr...
1540                             WELDER 3796 102816.txt                        ...                          1. Completion of a recognized apprenticeship a...

[38 rows x 4 columns]

In [21]:
for i in df1['REQUIREMENT_TEXT']:
    print(i)

1. Completion of a recognized apprenticeship as a refrigeration and air conditioning fitter; or
1. Completion of a recognized apprenticeship as an Asbestos Worker; or
1. Completion of a recognized four-year apprenticeship program as an auto body and fender repairer or auto body builder; or
1. Completion of a recognized apprenticeship as an auto electrician; or
1. Completion of a recognized apprenticeship as an auto painter; or
1. Completion of an apprenticeship as a blacksmith; or
1.  Completion of a recognized apprenticeship as a boilermaker; or
3. Two years of full-time paid experience in carpentry, masonry, concrete, structural steel or framing and rough carpentry work following the completion of a recognized apprenticeship program; or
3. Two years of full-time paid experience in carpentry, masonry, electrical, plumbing, or mechanical work, in general residential construction following the completion of a recognized apprenticeship program; or
1. Completion of an apprenticeship as a carpenter or cabinetmaker; or
1. Completion of a recognized three year apprenticeship as a carpet layer; or
2. Completion of a recognized apprenticeship as a cement finisher; or
8. Completion of a recognized four-year apprenticeship and two years of full-time paid experience working on commercial or public works projects.
1 Completion of an apprenticeship program sanctioned by the International Brotherhood of Electrical Workers (IBEW) national organization in conjunction with the National Electrical Contractors Association (NECA), and possession of a valid journey-level line worker card issued by IBEW; or
2. Successful completion of a State of California approved electrical apprenticeship program and four years of full-time paid electrical experience with work in residential and commercial OR residential and industrial electrical installations; or
1. Completion of a recognized apprenticeship as a general electrician; or
1. Completion of a recognized apprenticeship as an automotive mechanic; or
1. Completion of a recognized apprenticeship as a heavy duty equipment mechanic; or
2. Two years of full-time paid experience in carpentry, masonry, electrical, plumbing or heating following satisfactory completion of a recognized apprenticeship program; or
1. Completion of a recognized apprenticeship as a locksmith; or
1. Completion of a recognized apprenticeship as a machinist; or
1. Completion of an apprenticeship as a bricklayer, plasterer, or cement finisher; or
1. Completion of a recognized apprenticeship as a painter; or
Completion of a recognized four-year apprenticeship as a pile driver worker. Candidates must submit an apprenticeship certificate at the time of filing.
1. Completion of a recognized apprenticeship as a pipefitter; or
1. Completion of a recognized five-year apprenticeship as a plumber; or
2. Successful completion of a recognized plumbing apprenticeship program and four years of full-time paid experience with work in both residential and commercial plumbing installations; or
1.Completion of a recognized apprenticeship or attainment of journey-level status in an electrical or mechanical trade and one (1) year of full time paid experience with the Port of Los Angeles performing inspections, maintenance, and repairs of high voltage electrical systems, marine terminal structures, and equipment; or
1. Completion of a recognized four-year apprenticeship or the attainment of journey-level rank as a printing press operator; or
1. Completion of a recognized apprenticeship as a roofer; or
1. Completion of a recognized apprenticeship as a sheet metal worker; or
1. Completion of a recognized apprenticeship as a ship carpenter; or
1. Completion of a recognized apprenticeship as a sign painter; or
1. Completion of a recognized apprenticeship as an electrician, which provides experience or training in electrical or electronic control work; or
1. Completion of a recognized apprenticeship as a tile setter; or
1. Completion of a recognized apprenticeship as a tire repairer; or
1. Completion of a recognized five-year electrical apprenticeship program and submission of an apprenticeship certificate; or
1. Completion of a recognized apprenticeship as a welder; or

In [22]:
displacy.render(doc[175],style='dep')

NameError: name 'doc' is not defined

#  Education major

In [23]:
import string
from spacy import displacy
from spacy.matcher import Matcher

tagger=nltk.pos_tag
tokenizer = word_tokenize
stop = stopwords.words('english')


df1['REQUIREMENT_TEXT']= df1['REQUIREMENT_TEXT'].apply(lambda x: x.lower())
# df1['REQUIREMENT_TEXT']= df1['REQUIREMENT_TEXT'].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))
df1['REQUIREMENT_TEXT']= df1['REQUIREMENT_TEXT'].apply(lambda x: x.translate(str.maketrans('', '', string.digits)))



# ####################################################################################################################
# text= result['REQUIREMENT_TEXT'].apply(tokenizer)
# text= text.apply(tagger)
#text=text.apply(lambda x: [item for item in x if item not in stop])
doc= df1['REQUIREMENT_TEXT'].apply(nlp)

# displacy.render(doc[19],style='dep')

matcher = Matcher(nlp.vocab)
pattern = [{'POS': 'NOUN'},
           {'POS': 'ADP'},
           {'POS': 'DET'},
           {'POS': 'NOUN'},
           {'POS': 'CCONJ', 'OP': '?'},
           {'POS': 'NOUN', 'OP': '?'},
           {'POS': 'NOUN', 'OP': '?'},
           {'POS': 'Noun', 'OP': '?'}]


# text= result['REQUIREMENT_TEXT'].apply(tokenizer)
# # text= text.apply(lambda x: [item for item in x if item not in stop])
# # text = [word for word in text if word.isalpha()]
# # text

                                                    
# # def preprocess(txt):
# #     txt = nltk.word_tokenize(txt)
# #     txt = nltk.pos_tag(txt)
# #     return txt

In [24]:
matcher.add("apprenticeship",None, pattern)
matches = matcher(doc[219])
matches
for match_id, start, end in matches:
# Get the matched span by slicing the Doc
    span = doc[219][start:end]
    print(span.text)

KeyError: 219

In [25]:
matcher.add("apprenticeship",None, pattern)
# matches =[]
for i in doc:
    matches =[]
    matches.append(matcher(i))
    if matches[0]:
        print(i[matches[0][-1][1]:matches[0][-1][2]])
# matches
# for match_id, start, end in matches:
# # Get the matched span by slicing the Doc
#     span = doc[19][start:end]
#     print(span.text)

apprenticeship as a refrigeration and air conditioning
apprenticeship as an asbestos worker
program as an auto body
apprenticeship as an auto electrician
apprenticeship as an auto painter
apprenticeship as a blacksmith
apprenticeship as a boilermaker
apprenticeship as a carpenter or cabinetmaker
apprenticeship as a carpet layer
apprenticeship as a cement
completion of an apprenticeship program
completion of a state
apprenticeship as a locksmith
apprenticeship as a machinist
apprenticeship as a bricklayer
apprenticeship as a painter
certificate at the time
apprenticeship as a pipefitter
apprenticeship as a plumber
experience with the port
apprenticeship as a roofer
apprenticeship as a sheet metal worker
apprenticeship as a ship carpenter
apprenticeship as a sign painter
apprenticeship as an electrician
apprenticeship as a tile setter
apprenticeship as a tire repairer
submission of an apprenticeship certificate
apprenticeship as a welder

In [26]:
matches

[[(6237887334661923750, 5, 9)]]

In [27]:
displacy.render(doc[19],style='dep')

In [28]:
doc[0],doc[1],doc[2]

KeyError: 0

In [29]:
text= result['REQUIREMENT_TEXT'].apply(tokenizer)
text= text.apply(lambda x: [item for item in x if item not in stop])

In [30]:
for i in text:
    for t in i:
        if len(t)==1:
            i.remove(t)
text

0       [., One, year, full-time, paid, experience, Se...
1       [., Bachelor, 's, degree, recognized, college,...
2       [Eight, years, full-time, paid, experience, ca...
3       [Graduation, accredited, four-year, college, u...
4       [Two, years, full-time, paid, office, clerical...
5       [Successful, completion, semester, quarter, un...
6       [Two, years, full-time, paid, experience, Acco...
7       [., One, year, full-time, paid, professional, ...
8       [., Two, years, full-time, paid, experience, M...
9       [bachelor, 's, degree, accredited, four-year, ...
10      [One, year, full-time, paid, experience, City,...
11      [Six, months, full-time, paid, experience, cle...
12      [., Two, years, full-time, paid, experience, C...
13      [., Two, years, full-time, paid, experience, C...
14      [., Two, years, full-time, paid, experience, C...
15      [520, hours, paid, experience, City, Los, Ange...
16      [Must, licensed, a-a, ., Registered, Nurse, ce...
17      [Must, licensed, a-b, ., Physician, Assistant,...
18      [., Must, current, valid, American, Heart, Ass...
19      [., Completion, recognized, apprenticeship, re...
20      [Completion, 12, semester, 18, quarter, units,...
21      [Six, years, full-time, paid, experience, inst...
22      [Four, years, full-time, paid, experience, air...
23                              [-a., electric, controls]
24                            [-b., electronic, controls]
25                             [-c., pneumatic, controls]
26               [-d., direct, digital, control, systems]
27      [-e., energy, management, building, automation...
28      [One, year, full-time, paid, experience, Airpo...
29      [., bachelor, 's, degree, accredited, four-yea...
                              ...
1535    [Possession, Master, 's, degree, accredited, f...
1536    [Two, years, experience, Environmental, Specia...
1537    [., Two, years, full-time, paid, professional,...
1538    [Registration, Professional, Engineer, possess...
1539    [Four, years, full-time, paid, experience, Cit...
1540    [., Completion, recognized, apprenticeship, we...
1541    [Completion, welding, program, accredited, ins...
1542    [Four, years, full-time, paid, experience, fol...
1543    [Four, years, full-time, paid, experience, Cit...
1544    [., Two, years, full-time, paid, clerical, exp...
1545    [Successful, completion, Maritime, Documentati...
1546    [Two, years, full-time, paid, experience, City...
1547    [., One, year, full-time, paid, experience, ou...
1548    [Two, years, full-time, paid, experience, Cust...
1549    [., One, year, full-time, paid, experience, in...
1550    [Two, years, full-time, paid, experience, Work...
1551    [Two, years, full-time, paid, clerical, experi...
1552    [., Valid, Limited, Permits, X-Ray, Technology...
1553    [., One, year, experience, taking, developing,...
1554    [Valid, Phlebotomy, Certificate, State, Califo...
1555    [., Graduation, accredited, four-year, college...
1556                       [zoo, director, zoo, director]
1557    [2., Three, years, full, time, paid, professio...
1558    [Senior, Animal, Keeper, class, level, City, L...
1559    [Applicants, may, substitute, one, year, full,...
1560    [., Graduation, accredited, four-year, college...
1561    [Current, employment, City, Los, Angeles, two,...
1562    [., Graduation, accredited, four-year, college...
1563    [., Two, years, full-time, paid, experience, s...
1564    [Two, years, full-time, paid, experience, perf...
Name: REQUIREMENT_TEXT, Length: 1565, dtype: object